<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="@{/js/comment-module.js}"></script>
</head>
<body th:object = "${article}">
<div class = "description" th:text = "*{description}" ></div>
<span th:text = "*{creationDate}"></span>
<span th:text = "|作者：${user.getName()}|"></span>
<div th:text = "*{content}"></div>
<br/>
<div id = "comment-module">
	<div th:each = "eachComment : ${article.comments}" >
		<div th:text = "${eachComment.content}"></div>
	</div>
	<form method = "post" th:action = "@{post_comment}" th:object = "${comment}">
		<textarea th:field = "*{content}"></textarea>
		<input name = "article_id" type = "hidden" th:value = "${article.id}"/>
		<input type = "submit" value = "提交评论" />
	</form>
</div>
<a th:href = "@{all}">所有文章</a>
</body>
</html>